.js .header {
  position: fixed;
  height: 270px;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
}

.video-panel {
  display: none;
}

.js .video-panel {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 500;
}

.header {
  position: relative;

  .header-body {
    position: absolute;
    width: 100%;
  }

  .title {
    white-space: nowrap;
    color: #ffe9a1;
    font-size: 160px;
    text-align: center;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    white-space: nowrap;
    position: relative;
    font-weight: 400;
  }

  .subtitle {
    color: #fff;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    z-index: 200;
    position: relative;
  }
  .mistake {
    color: #9f9f9f;
  }
  .title-letter {
    position: relative;
    top: 16px;
  }
  .info {
    color: #fff;
    font-size: 12px;
    display: none;
  }
}
