/* Pages */

.js {
  .main {
    background: $blue;
    position: relative;
    top: 100vh;
    padding-bottom: 100vh;
    z-index: 900;
  }
}

.page-1 {
  background: url('../img/w4.jpg') no-repeat $orange;
  background-size: 100%;
  width: 100%;

  .page-content {
    color: $content-color;
    padding: 200px 0 100px;


    ul {
      padding: 25px 0 35px;

      li {
        font-size: 16px;
      }
    }

    p {
      font-size: 16px;
      margin: 25px 0 15px;
    }
  }
}

.page-2 {
  position: relative;
  z-index: 2000;
  background: $blue;

  h3 {
    color: $content-color;
    font-size: 40px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 200px;
  }
}
