/* Pages */

.js .main {
  position: relative;
  z-index: 1000;
  background: $blue;
  top: 100vh;
}

.page-1 {
  width: 100%;
  background: url(../img/w4.jpg) no-repeat $orange;
  background-size: 100%;

  .page-content {
    color: #fff;
    padding: 200px 0 100px;


    ul {
      padding: 25px 0 35px;
      li {
        font-size: 16px;
      }
    }
    p {
      font-size: 16px;
      margin: 25px 0 15px;
    }
  }
}

.page-2 {
  position: relative;
  h3 {
    color: #fff;
    font-size: 40px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 200px;
  }
}