.poem {
  color: #fff;
  padding: 0 0 50px;

  h4 {
    font-size: 70px;
    text-align: center;
    padding: 50px 0 50px;

    span {
      font-size: 13px;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
    }
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding: 0 20px;
  }
}