/*
 font-family: 'Merriweather', serif;
 font-family: 'Open Sans', sans-serif;
*/

/**
 * 1.0 Reset
 */

/* Selection
::-webkit-selection{background:#3c5485;color:#fff}
::-moz-selection{background:#3c5485;color:#fff}
::selection{background:#3c5485;color:#fff}
*/

/* Placeholder */

@import 'reset';
@import 'nav';
@import 'buttons';
@import 'header';
@import 'video';
@import 'leafs';
@import 'pages';
@import 'poem';
@import 'mobile';