/**
 * Fonts
 */

$font-headers: 'Constantia', 'Merriweather', serif;
$font-content: 'Open Sans', sans-serif;

/**
 * Colors
 */
$orange: #ff7840;
$blue: #1a2036;
$yellow: #ffc;
$yellow5: rgba(255, 233, 161, .5);

$content-color: #fff;
